 // =============================================================================
    // String Replace
    // =============================================================================
    @function str-replace($string, $search, $replace: "") {
        $index: str-index($string, $search);
        @if $index {
            @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
        }
        @return $string;
    }
    // =============================================================================
    // Font Face
    // =============================================================================
    @mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg) {
        $src: null;
        $extmods: ( eot: "?", svg: "#" + str-replace($name, " ", "_") );
        $formats: ( otf: "opentype", ttf: "truetype" );
        @each $ext in $exts {
            $extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
            $format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
            $src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
        }
        @font-face {
            font-family: quote($name);
            font-style: $style;
            font-weight: $weight;
            src: $src;
        }
    }

//Mixin para establecer un alto y ancho a un elemento o componente
@mixin altoAncho($width, $height){
    width: $width;
    height: $height;
}

//Mixin para establecer un diseño en grid
@mixin grid($type, $gap, $grid){
    display: $type;
    grid-template-areas: $grid;
    grid-gap: $gap;
}

//Mixin para establecer un diseño en flex
@mixin flex($type, $justify: null, $align: null, $flex-wrap: null){
    display: $type;
    justify-content: $justify;
    align-items: $align;
    flex-wrap: $flex-wrap;
}