//PARTIAL REFERENTE A TODAS LAS VARIABLES GLOBALES

///////////////////////////////////////////////
////////////////////INDEX/////////////////////
/////////////////////////////////////////////

//VARIABLES DE .CONTENEDOR
//Ancho y alto de .contenedor
$widthContainer: auto;
$heightContainer: auto;
//Estructura grid
$grid: "header header header"
		"main main main"
		"main main main"
		"footer footer footer";

//VARIABLES DE HEADER
//Ancho y alto del header
$widthHeader: auto;
$heightHeader: auto;

//VARIABLES DE MAIN
//Ancho y alto del main
$widthMain: auto;
$heightMain: auto; 

//VARIABLES DE .SEC1
//Ancho y alto de .sec1
$widthSec1: 100%;
$heightSec1: 50%;

//VARIABLES DE .ART1
$widthArt1: 50%;

//VARIABLES DE .SEC2
//Ancho y alto de .sec2
$widthSec2: 100%;
$heightSec2: 50%;



//////////////////////////////////////////////
//////////////////NOTICIAS///////////////////
////////////////////////////////////////////



//PARTE RESERVADA PARA LAS FUENTES DE LA PAGINA
$font: 'Blackore', sans-serif;
$iron: 'Iron';
$niconne: 'Niconne';