//PARTIAL REFERENTE A TODAS LAS VARIABLES GLOBALES

//VARIABLES DE .CONTENEDOR
//Ancho y alto de .contenedor
$widthContainer: auto;
$heightContainer: 950px;

//VARIABLES DE HEADER
//Ancho y alto del header
$widthHeader: auto;
$heightHeader: auto;

//VARIABLES DE MAIN
//Ancho y alto del main
$widthMain: auto;
$heightMain: auto; 

//VARIABLES DE .SEC1
//Ancho y alto de .sec1
$widthSec1: 100%;
$heightSec1: 50%;

//VARIABLES DE .ART1
$widthArt1: 50%;

//VARIABLES DE .SEC2
//Ancho y alto de .sec2
$widthSec2: 100%;
$heightSec2: 50%;