@charset 'UTF-8';

//INCLUIR PARTIALS DE ABSTRACTS (FUNCTIONS, MIXINS, VARIABLES...)
@import 'abstracts/abstractsDir';

//INCLUIR PARTIALS DE VENDORS (NORMALIZE, BREAKPOINT, BOOTSTRAP, SASSY...)
@import 'vendors/vendorsDir';

//INCLUIR PARTIALS DE BASE (TYPOGRAPHY...)
@import 'base/baseDir';

//INCLUIR PARTIALS DE COMPONENTS (CAROUSEL...)
@import 'components/componentsDir';

//INCLUIR PARTIALS DE LAYOUT (GRID, HEADER, FOOTER...)
@import 'layout/layoutDir';