/**
 * CONTENIDO REFERENTE A LA ESTRUCTURA GRID
 */

*{
	box-sizing: border-box;
}

::-webkit-scrollbar {
	display: none;
}

body{
	background: $fondoContainer;
}

.contenedor{
	//Establecer alto y ancho del contenedor
	@include altoAncho($widthContainer,$heightContainer);
	//Establecer estructura del layout (grid)
	@include grid(grid, 15px, $grid);

	header{
		@extend .container-fluid;
		grid-area: header;
		background: $fondoHeader;
		//Establecer alto y ancho del header
		@include altoAncho($widthHeader, $heightHeader);
		/*width: $widthHeader;
		height: $heightHeader;*/
		//Establecer estructura del layout (flex)
		@include flex(flex, space-around, center, wrap);
		/*display: flex;
		justify-content: space-around;
		align-items: center;
		flex-wrap: wrap;*/

		.logos{
			@extend .row;
			@extend .col-12;
			@extend .justify-content-center;

			&>a{
				&>img{
					@extend .img-fluid;
				}
			}
		}

		.menu{
			@extend .row;
			@extend .col-12;
			@extend .justify-content-around;

			&>a{
				display: flex;
				align-items: center;
				background-color: $fondoBotonHeader;
				@extend .btn;
				@extend .btn-primary;
			}
		}
	}

	main{
		grid-area: main;
		width: $widthMain;
		height: $heightMain;
		background: $fondoMain;
		border: 4px solid;
		margin: 0 2%;

		.sec1{
			width: $widthSec1;
			height: $heightSec1;
			background: $fondoSec1;
			/*display: flex;
			align-items: center;
			padding: 5%;
			text-align: justify;*/
			padding: 2%;
			text-align: justify;

			.noticia{
				@extend .row;

				&>h1{
					@extend .col-12;
					@extend .text-center;
					font-family: Harry2;
					font-size: 75px;
					letter-spacing: 5px;
				}

				&>.art1{
					width: $widthArt1;
					align-self: center;
					@extend .col-3; 
					
					&>p{
						font-family: $niconne;
						font-size: 28px;
						line-height: 20px;
					}
				}

				&>video{
					@extend .col-6;
					width: 620px;
					height: 320px;
					align-self: center;
				}
			}
		}

		//Se completa mañana cuando esten los cards
		.sec2{
			width: $widthSec2;
			height: $heightSec2;
			background: $fondoSec2;
			display: flex;
			align-items: center;
			padding: 5%;
			text-align: justify;
			
		}
	}

	footer{
		@extend .row;
		@extend .col-12;
		grid-area: footer;
		background: $fondoFooter;
		width: 100%;
		height: auto;

		&>.copyright{
			@extend .col-6;
			@extend .text-left;
		}

		&>.social{
			@extend .col-6;
			@extend .text-right;
		}
	}
}