/**
 * CONTENIDO REFERENTE A LA ESTRUCTURA GRID
 */

*{
	box-sizing: border-box;
}

::-webkit-scrollbar {
	display: none;
}

//MEDIDAS PARA BREAKPOINT
$basic: 320px;
$medium: screen 321px 767px;
$high: screen 768px 1024px;
$xtraHigh: screen 1025px 2000px;

body{
	background: $fondoContainer;
}



.contenedor{
	@media (max-width: 320px){
		*{
			width: 100%;
		}
	}
	//Establecer alto y ancho del contenedor
	@include altoAncho($widthContainer,$heightContainer);
	//Establecer estructura del layout (grid)
	//@include grid(grid, 15px, $grid);

	@extend .container-fluid;

	header{
		@extend .container-fluid;
		//grid-area: header;
		background: $fondoHeader;
		//Establecer alto y ancho del header
		@include altoAncho($widthHeader, $heightHeader);
		/*width: $widthHeader;
		height: $heightHeader;*/
		//Establecer estructura del layout (flex)
		@include flex(flex, space-around, center, wrap);
		/*display: flex;
		justify-content: space-around;
		align-items: center;
		flex-wrap: wrap;*/
		margin-bottom: 2%;

		.logos{
			@extend .row;
			@extend .justify-content-center;

			@media (max-width: 767px) {
			  .editorial{
			  	visibility: hidden;
			  	display: none;
			   }
			}

			&>a{
				&>img{	
					@extend .col-sm-12;
				}
			}
		}

		.menu{
			@extend .row;
			@extend .col-12;
			@extend .justify-content-sm-around;
			@extend .justify-content-md-around;
			@extend .justify-content-lg-around;

			font-family: Harry2;
			font-size: 20px;
			@media (max-width: 767px){
				&>button{
					width: 100%;
					margin-top: 4%;
					&>a{
						justify-content: center;
					}
				}
			}

			&>a{
				display: flex;
				align-items: center;
				text-align: center;
				background-color: $fondoBotonHeader;
				@extend .col-sm-12;
				@extend .col-md-4;
				@extend .col-lg-4;
				@extend .btn;
				@extend .btn-primary;
			}
		}
	}

	main{
		//grid-area: main;
		width: $widthMain;
		height: $heightMain;
		background: $fondoMain;
		border: 4px solid;
		margin: 0 2%;
		/*@extend .col-12;
		@extend .row;*/
		@extend .container-fluid;
	
		.sec1{
			width: $widthSec1;
			height: $heightSec1;
			background: $fondoSec1;
			/*display: flex;
			align-items: center;
			padding: 5%;
			text-align: justify;*/
			padding: 2%;
			text-align: justify;

			&>.noticia{
				@extend .row;

				&>h1{
					@extend .col-12;
					@extend .text-center;
					font-family: Harry2;
					font-size: 75px;
					letter-spacing: 5px;
				}

				&>.art1{
					width: $widthArt1;
					align-self: center;
					@extend .col-sm-12;
					@extend .col-12; 
					
					&>p{
						@include parrafo($niconne,28px,20px);
					}

					&>video{
						@extend .col-sm-12;
						@extend .col-12;
						width: 100%;
						height: 450px;
						//@extend .justify-content-center;
					}
				}

				
			}
		}

		
		.sec2{
			width: $widthSec2;
			height: $heightSec2;
			background: $fondoSec2;
			//@extend .container-fluid;
			@media (max-width: 320px){
				*{
					max-width: 100%;
				}
			}
			
			//@extend .row;
			
			&>h1{
				@extend .col-12;
				@extend .text-center;
				font-family: Harry2;
				font-size: 55px;
				letter-spacing: 5px;
				margin-bottom: -5%;
			}
			
			&>.carrusel1{
				@extend .col-6;
				padding-top: 5%;
				margin-bottom: 2%;
				&>.carousel-inner{
					&>.carousel-item{

						&>.textoCarrusel{
							@extend .carousel-caption;
							@extend .d-none;
							@extend .d-md-block;

							&>h1{
								font-family: Harry2;
							}
						}
						&>.accordion{
							&>.card{
								background-color: transparent;
								border: none;
								width: 100%;
								&>.cabeceraCarta{
									&>h1{
										font-family: Harry2;
										&>.btn{
											background-color: transparent;
											color: white;
											font-size: 25px;
										}
									}
								}
							}
							&>.collapse{
								background-color: rgba(0,0,0,0.7);
								width: 100%;
								&>.card-body{
									color: white;
									font-family: $niconne;
									font-size: 23px;
								}
							}
						}
						&>img{
							width: 500px;
							height: 450px;
							
						}
					}
				}
			}
			&>.carrusel2{
				@extend .col-6;
				padding-top: 5%;
				margin-bottom: 2%;
				&>.carousel-inner{
					&>.carousel-item{

						&>.textoCarrusel{
							@extend .carousel-caption;
							@extend .d-none;
							@extend .d-md-block;

							&>h1{
								font-family: Harry2;
							}
						}
						&>.accordion{
							&>.card{
								background-color: transparent;
								border: none;
								width: 100%;
								&>.cabeceraCarta{
									&>h1{
										font-family: Harry2;
										&>.btn{
											background-color: transparent;
											color: white;
											font-size: 25px;
										}
									}
								}
							}
							&>.collapse{
								background-color: rgba(0,0,0,0.7);
								width: 100%;
								&>.card-body{
									color: white;
									font-family: $niconne;
									font-size: 23px;
								}
							}
						}
						&>img{
							width: 500px;
							height: 450px;
							
						}
					}
				}
			}
			
		}
	}

	footer{
		@extend .row;
		@extend .col-12;
		background: $fondoFooter;
		width: 100%;
		height: auto;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;

		&>.copyright{
			//@extend .col-6;
			@extend .text-left;
			align-content: center;
		}

		&>.social{
			//@extend .col-6;
			@extend .text-right;
			align-content: center;
		}
	}
}