@charset 'UTF-8';

/**
 * CONTENIDO REFERENTE A LA ESTRUCTURA GRID DE LAS NOTICIAS
 */

*{
	box-sizing: border-box;
}

::-webkit-scrollbar {
	display: none;
}

body{
	background: $fondoContainer;
}

.contenedorNoticias{
	width: $widthContainer;
	height: $heightContainer;
	display: grid;
	grid-template-areas: "header header header"
						 "main main main"
						 "main main main"
						 "footer footer footer";
	grid-gap: 15px;

	header{
		@extend .container-fluid;
		grid-area: header;
		background: $fondoHeader;
		width: $widthHeader;
		height: $heightHeader;
		display: flex;
		justify-content: space-around;
		align-items: center;
		flex-wrap: wrap;

		.logos{
			@extend .row;
			@extend .col-12;
			@extend .justify-content-center;

			&>a{
				&>img{
					@extend .img-fluid;
				}
			}
		}

		.menu{
			@extend .row;
			@extend .col-12;
			@extend .justify-content-around;

			&>a{
				display: flex;
				align-items: center;
				@extend .btn;
				@extend .btn-primary;
			}
		}
	}

	main{
		grid-area: main;
		width: $widthMain;
		height: $heightMain;
		background: $fondoMain;
		border: 4px solid;
		margin: 0 2%;

		.sec1{
			width: $widthSec1;
			height: $heightSec1;
			background: $fondoSec1;
			/*display: flex;
			align-items: center;
			padding: 5%;
			text-align: justify;*/
			padding: 2%;
			text-align: justify;

			&>.contenido{
				@extend .row;

				&>aside{
					@extend .col-3;
					@extend .text-center;

					&>h1{
						@extend .col-12;
						@extend .text-center;
						font-family: Harry2;
						font-size: 36px;
						letter-spacing: 5px;
					}
				}

				&>.art1{
					width: $widthArt1;
					align-self: center;
					@extend .col-9;

					&>h1{
						@extend .col-12;
						@extend .text-center;
						font-family: Harry2;
						font-size: 75px;
						letter-spacing: 5px;
					}
					
					&>p{
						font-family: $niconne;
						font-size: 28px;
						line-height: 20px;
					}
				}
			}
		}
	}

	footer{
		@extend .row;
		@extend .col-12;
		grid-area: footer;
		background: purple;
		width: 100%;
		height: auto;

		&>.copyright{
			@extend .col-6;
			@extend .text-left;
		}

		&>.social{
			@extend .col-6;
			@extend .text-right;
		}
	}
}