@charset 'UTF-8';

/**
 * CONTENIDO REFERENTE A LA ESTRUCTURA GRID DE LAS NOTICIAS
 */

*{
	box-sizing: border-box;
}

::-webkit-scrollbar {
	display: none;
}

body{
	background: $fondoContainer;
}

.contenedorNoticias{
	width: $widthContainer;
	height: $heightContainer;
	display: grid;
	grid-template-areas: "header header header"
						 "main main main"
						 "main main main"
						 "footer footer footer";
	grid-gap: 15px;

	header{
		@extend .container-fluid;
		grid-area: header;
		background: $fondoHeader;
		width: $widthHeader;
		height: $heightHeader;
		display: flex;
		justify-content: space-around;
		align-items: center;
		flex-wrap: wrap;

		.logos{
			@extend .row;
			@extend .col-12;
			@extend .justify-content-center;

			&>a{
				&>img{
					@extend .img-fluid;
				}
			}
		}

		.menu{
			@extend .row;
			@extend .col-12;
			@extend .justify-content-around;

			font-family: Harry2;
			font-size: 20px;
			&>a{
				display: flex;
				align-items: center;
				@extend .btn;
				@extend .btn-primary;
			}
			
		}
		.migasPan{
			@extend .row;
			@extend .col-12;
			@extend .text-left;
			font-family: $niconne;
			font-size: 20px;
			&>ol{
				background-color: transparent;
				@extend .breadcrumb;
				&>.breadcrumb-item a{
					color: black;
				}
			}
		}
	}

	main{
		grid-area: main;
		width: $widthMain;
		height: $heightMain;
		background: $fondoMain;
		border: 4px solid;
		margin: 0 2%;

		.sec1{
			width: $widthSec1;
			height: $heightSec1;
			background: $fondoSec1;
			/*display: flex;
			align-items: center;
			padding: 5%;
			text-align: justify;*/
			padding: 2%;
			text-align: justify;

			&>.contenido{
				@extend .row;

				&>aside{
					@extend .col-3;
					@extend .text-center;

					&>h1{
						@extend .col-12;
						@extend .text-center;
						font-family: Harry2;
						font-size: 36px;
						letter-spacing: 5px;
					}
					&>.deck{
						@extend .row;
						@extend .justify-content-around;
						@extend .col-12;
						padding-bottom: 25px;
						
						&>.carta{
							background-color: $fondoCarta;
							border: none;
							@extend .card;
							@extend .border-dark;
							@extend .col-12;
							max-width: 18rem;
							margin-top: 10px;

							&>.cabeceraCard{
								@extend .card-header;
								width: 100%;
								background-color: $fondoCarta;
								border: 1px solid black;
								border-bottom: none;
								border-top: none;
								margin-bottom: 15px;
								font-family: $font;
								text-align: center;
							}
							&>.card-body{
								border: 1px solid black;
								border-top: none;
								border-bottom: none;
							}
							.card-body>.textoCarta{
								@extend .card-text;
								font-family: $niconne;
								font-size: 25px;
							}
						}
					}
				}

				&>.art1{
					width: $widthArt1;
					align-self: center;
					@extend .col-6;

					&>h1{
						@extend .col-12;
						@extend .text-center;
						font-family: Harry2;
						font-size: 75px;
						letter-spacing: 5px;
					}
					
					&>p{
						@include parrafo($niconne,28px,20px);
					}
					figure{
						@extend .row;
						@extend .justify-content-center;
					}
				}
			}
		}

		//Comienzo pagina noticias 2
		.sectNoticias2{
			width: $widthSec1;
			height: $heightSec1;
			background: $fondoSec1;
			/*display: flex;
			align-items: center;
			padding: 5%;
			text-align: justify;*/
			padding: 2%;
			text-align: justify;

			&>.contenidoNoticias2{
				@extend .row;

				&>.aside{
					@extend .col-4;
					@extend .text-center;

					&>h1{
						@extend .col-12;
						@extend .text-center;
						font-family: Harry2;
						font-size: 36px;
						letter-spacing: 5px;
					}
					&>p{
						@include parrafo($niconne,28px,20px);
						text-align: justify;
					}
					
				}
				&>.artNoticias2{
					@extend .col-8;
					&>.deck{
						@extend .col-12;
						@extend .row;
						@extend .justify-content-around;
						padding-bottom: 25px;
							
						&>.carta{
							background-color: $fondoCarta;
							border: none;
							@extend .card;
							@extend .border-dark;
							@extend .col-4;
							max-width: 18rem;
							margin-top: 10px;

							&>.cabeceraCard{
								@extend .card-header;
								width: 100%;
								background-color: $fondoCarta;
								border: 1px solid black;
								border-bottom: none;
								border-top: none;
								margin-bottom: 15px;
								font-family: $font;
								text-align: center;
							}
							&>.card-body{
								border: 1px solid black;
								border-top: none;
								border-bottom: none;
								&>.textoCarta{
									@extend .card-text;
									font-family: $niconne;
									font-size: 25px;
									&>.mostrar{
										display: none;
										@extend .collapse;
									}
								}
							}
						}
					}
				}
				
			}
		}
			&>.sectNoticias2{
				&>.contenidoNoticias2{
					&>.aside{
						&>.accordion{
							&>.card{
								background-color: transparent;
								border:none;
								&>.card-header{
									&>.mb-0{
										&>.btn{
											font-family: Harry2;
											color: black;
											font-size: 25px;
										}
									}
								}
								&>.fondoLluvia{
									background-image: url("../images/meteorologia/lluviaFondo.gif");
									background-repeat: no-repeat;
									&>.card-body{
										color: white;
										&>h3{
											font-family: Harry2;
										}
										&>figure img{
											width: 100px;
											height: 100px;
										}
									}
								}
								&>.fondoNevado{
									background-image: url("../images/meteorologia/nevadoFondo.gif");
									background-repeat: no-repeat;
									&>.card-body{
										color: white;
										&>h3{
											font-family: Harry2;
										}
										&>figure img{
											width: 100px;
											height: 100px;
										}
									}
								}
								&>.fondoSoleado{
									background-image: url("../images/meteorologia/soleadoFondo.gif");
									background-repeat: no-repeat;
									&>.card-body{
										color: white;
										&>h3{
											font-family: Harry2;
										}
										&>figure img{
											width: 80px;
											height: 80px;
										}
									}
								}
								&>.fondoNublado{
									background-image: url("../images/meteorologia/nubladoSolFondo.gif");
									background-repeat: no-repeat;
									&>.card-body{
										color: white;
										&>h3{
											font-family: Harry2;
										}
										&>figure img{
											width: 80px;
											height: 80px;
										}
									}
								}
							}

						}
					}
				}
			}
		.paginador{
			@extend .row;
			@extend .col-12;
			@extend .justify-content-center;
			font-family: $niconne;
			font-size: 20px;
			&>.paginas{
				@extend .pagination;
				&>.page-item{
					&>.page-link{
					background-color: transparent;
					border:none;
					color: black;
					font-size: 30px;	
				}	
				}
			}
		}
	}

	footer{
		@extend .row;
		@extend .col-12;
		grid-area: footer;
		background: $fondoFooter;
		width: 100%;
		height: auto;

		&>.copyright{
			@extend .col-6;
			@extend .text-left;
		}

		&>.social{
			@extend .col-6;
			@extend .text-right;
		}
	}
}