.menu{
	margin-top: 25px;
	&>button{
		padding: 15px 30px 0px 30px;
		border: 0px;
		box-shadow: 4px 4px 5px black;
		&>a{
			color: black;
			display: flex;
			&>figure{
				padding-right: 5px;
			}
		}
		&>a:hover{
			text-decoration: none;
		}
	}
}