/**
 * CONTENIDO Y FORMATO DE REGISTROS
 */
/* CABECERA */
header{
	&>.migasPan{
		@extend .row;
		@extend .col-12;
		@extend .text-left;
		font-family: $niconne;
		font-size: 20px;
		margin-top: 1%;
		margin-bottom: -2%;
		&>ol{
			background-color: transparent;
			@extend .breadcrumb;
			&>.breadcrumb-item a{
				color: black;
			}
		}
	}
}
/* MAIN */
main{
	
	&>.textoForm{
 		margin:30px 0;
 		@extend .text-center;

 		&>h4{
			font-family: $niconne;
			font-size: 23px;
		}
		&>h2{
			font-family: $iron;
			font-size: 30px;
		}
 	}
 	/* FORMULARIO */
 	&>form{
 		&>h2{
 			margin:30px 0;
 			font-family:$iron;
 			font-size:30px;
		}
 		&>.formulario{
 			@extend .form-control;
 			
 			&>.row{
 				&>.fila1{
 					font-family: $niconne;
 					font-size: 25px;
 					@extend .col-12;
 					@extend .col-sm-4;

 					&>input{
 						@extend .form-control;
 						@extend .mb-2;
 						font-size: 25px;
 					}
 				}
 				&>.fila2{
 					font-family: $niconne;
 					font-size: 25px;
 					@extend .col-12;
 					@extend .col-sm-4;

 					&>input{
 						@extend .form-control;
 						@extend .mb-2;
 						font-size: 25px;
 					}
 				}
 				&>.fila3{
 					font-family: $niconne;
 					font-size: 25px;
 					@extend .col-12;
 					@extend .col-sm-4;

 					&>input{
 						@extend .form-control;
 						@extend .mb-2;
 						font-size: 25px;
 					}
 				}
 				&>.fila4{
 					font-family: $niconne;
 					font-size: 25px;
 					@extend .col-12;
 					@extend .col-sm-4;

 					&>input{
 						@extend .form-control;
 						@extend .mb-2;
 						font-size: 25px;
 					}
 				}
 				&>.fila5{
 					font-family: $niconne;
 					font-size: 25px;
 					@extend .col-12;
 					@extend .col-sm-4;

 					&>input{
 						@extend .form-control;
 						@extend .mb-2;
 					}
 				}
 			}
 		}
 	}
 	&>form{
 		&>h2{
 			margin:30px 0;
 			font-family:$iron;
 			font-size:30px;
		}
		
		&>.formulario2{
			margin: 40px 0;
		}
 		&>.formulario2{
 			@extend .form-control;
 			&>.row{
 				&>.fila6{
 					font-family: $niconne;
 					font-size: 25px;
 					@extend .col-md-4;
 					@extend .col-lg-6;

 					&>select{
 						@extend .custom-select;
 					}

 					&>.timos{
 						@extend .col-12;
 						@extend .col-sm-4;
 						@extend .col-lg-6;
						
						&>input{
							@extend .form-control;
							@extend .mb-2;
							@extend .col-sm-4;
							@extend .col-md-3;
							@extend .col-lg-2;
							font-family: $niconne;
						}
 					}
 				}
 				&>.fila7{
 					font-family: $niconne;
 					font-size: 25px;
 					@extend .col-12;
 					@extend .col-sm-4;

 					&>.intereses{
 						@extend .form-check;

 						&>input{
 							@extend .form-check-input;
 							font-size: 25px;
 						}
 						&>label{
							@extend .form-check-label;
 						}
 					}
 				}
 				&>.fila8{
 					font-family: $niconne;
 					font-size: 25px;
 					@extend .col-12;
 					@extend .col-sm-4;
 				}
 			}
 			&>.fila9{
 				font-family: $niconne;
 				font-size: 25px;
 				@extend .form-group;

 				&>textarea{
 					font-size: 25px;
 					@extend .form-control;
 				}
 			}
 		}
 		&>.condiciones{
 			font-family: $niconne;
 			font-size: 25px;
 		}
		&>.suscribirse{
			@extend .col-auto;
			@extend .text-center;
			&>button{
				@extend .btn;
				@extend .mb-2;
				background-color: $fondoBotonHeader;
				font-family: $harry2;
				padding: 15px 30px 0px 30px;
				border: 0px;
				box-shadow: 4px 4px 5px black;
			}
		}
 	}
}