@charset "UTF-8";

//Caracteristicas comunes para clases y etiquetas del body
// Elementos

body{
	font-family: Arial, Verdana;
	font-size: 16px;
	line-height: 18px;
	padding: 10px;
	header{
		padding: 20px;
	}
	main{
		padding: 15px;
	}

	section{
		padding: 12px;
		article{
			padding: 10px;
		}
	}

	aside{
		padding: 15px;
	}

	footer{
		padding: 25px;
	}
	$pos: top;
 
	.ventana-#{$pos} {
		position: relative;
		color: red;
		#{$pos}: 15%;
	}

	.message{
	border: 1px solid #ccc;
	padding: 10px;
	color: #333;
	}
	.success{
		@extend .message;
		border-color: green;
	}
	.error{
		@extend .message;
		border-color: red;
	}
	.warning{
		@extend .message;
		border-color: yellow;
	}

	/*@mixin botones{
   	color: #ffffff;
	width: 30px;
	border-radius: 10px;
	}
	.btn-a {
   	@include botones;
   	background: blue;
	}
	.btn-b {
   	@include botones;
   	background: black;
	}*/
	@mixin boton {
		background:  #f00;
	}
	
	@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	   -moz-border-radius: $radius;
		-ms-border-radius: $radius;
		    border-radius: $radius;
	}
	.box { @include border-radius(10px); }


}