@charset 'UTF-8';

//VARIABLES PARA LOS COLORES DE LA WEB
//Color de fondo del contendor
$fondoContainer: #E4C9B0;

//Color de fondo header
$fondoHeader: #E4C9B0;

//Color fondo de los botones de header
$fondoBotonHeader: #C7C7C7;

//Color de fondo del main
$fondoMain: #E4C9B0;

//Color de fondo de .sec1
$fondoSec1: #E4C9B0;

//Color de fondo de .sec2
$fondoSec2: green;

//Color de fondo del footer
$fondoFooter: #E4C9B0;
