@charset 'UTF-8';

//Fuente para el titulo
//Blackore Regular
@font-face{
	font-family: 'Blackore';
	font-style: italic;
	font-weight: normal;
	src: url("../../fonts/Blackore") format("truetype");
}

//Fuente para titulo noticias
//Iron Brine Regular
@font-face{
  font-family: Iron;
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Iron&Brine");
}

//Fuente para parrafos
//Niconne Regular (USO -> FONT-FAMILY: 'Niconne', 'cursive';)
@font-face{
	font-family: Niconne;
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/Niconne-Regular');
}

//Fuente para zonas del titulo
//HarryP Regular
@font-face{
    font-family: Harry;
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/HARRYP');
  }